<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC  
    "-//mybatis.org//DTD Config 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- 别名 -->
	<typeAliases>
		<typeAlias type="java.util.LinkedHashMap" alias="linkedhashmap" />
		<package name="ec.model" />
		<package name="ec.dto" />
	</typeAliases>
 	<plugins>
		<plugin interceptor="admin.interceptor.PageInterceptor">
			<property name="databaseType" value="mysql" />
		</plugin>
	</plugins> 
</configuration>  